body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eaeaea;
  margin: 0;
  padding: 0;
  height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: none;
}

#root,
.container {
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-card {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 100px;
  box-shadow: 0 24px 12px #cfcfcf;
  z-index: 10;
}

.form {
  display: flex;
  justify-content: space-between;
}

.form .form-field {
  width: 70%;
  min-height: 82px;
}

.form .form-field label {
  margin: 0 0 5px 5px;
}

.form .form-field input {
  width: 100%;
  border: 1px solid #808080;
  padding: 12px;
  border-radius: 6px;
}

.form .form-field input:focus {
  border: 1px solid #1380b3;
}

.form .form-field p {
  margin: 5px 0 0 5px;
}

.form .form-field.error {
  color: #ff0000;
}

.form .form-field.error input {
  border: 1px solid #ff0000;
}

button {
  border: none;
  border-radius: 6px;
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

button:disabled {
  background-color: #9e9e9e !important;
}

.form .submit-btn {
  width: 25%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.form .submit-btn button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 12px;
  margin-bottom: 5px;
  background-color: #1380b3;
}

.form .submit-btn button > div {
  padding-left: 5px;
}
